apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: traefik
  namespace: default
spec:
  interval: 30m
  url: https://traefik.github.io/charts
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: traefik
  namespace: default
spec:
  interval: 10m
  chart:
    spec:
      chart: traefik
      sourceRef:
        kind: HelmRepository
        name: traefik
  values:
    # apiVersion: helm.cattle.io/v1
    # kind: HelmChartConfig
    # metadata:
    #  name: traefik

    commonLabels:
      app: traefik

    persistence:
      enabled: true
      path: /data
      size: 1Gi

    service:
      type: LoadBalancer
      loadBalancerIP: 10.59.20.70

    # ports:
    #   web:
    #     redirections:
    #       entryPoint:
    #         to: websecure
    #         scheme: https
    #         permanent: true
  
    # ACME resolver using step-ca
    certificatesResolvers:
      step:
        acme:
          caServer: "https://data.swage:9000/acme/acme/directory"
          email: "admin@status.swage"
          storage: "/data/acme.json"
          tlsChallenge: true
      letsencrypt:
        acme:
          dnsChallenge:
            provider: cloudflare
            resolvers: ["1.1.1.1", "1.0.0.1"]
            # propagation:
            #   disableChecks: true
            #   delayBeforeChecks: 60
          storage: /data/acme.json
          email: "crazycreeper3@gmail.com"

    # tls:
    #   certificates:
    #     - certResolver: letsencrypt
    #       domains:
    #         - main: "*.swages.net"
    #         - main: "*.swages.cloud"

    additionalVolumeMounts:
      - name: step-ca-certs
        mountPath: /etc/ssl/certs/root_ca.crt
        subPath: root_ca.crt
        readOnly: true

    deployment:
      additionalVolumes:
          - configMap:
              name: step-ca-cm
            name: step-ca-certs
      initContainers:
        - name: volume-permissions
          image: busybox:latest
          command: ["sh", "-c", "touch /data/acme.json; chmod -v 600 /data/acme.json"]
          volumeMounts:
          - mountPath: /data
            name: data
    podSecurityContext:
      fsGroup: 65532
      fsGroupChangePolicy: "OnRootMismatch"

    env:
      - name: CF_DNS_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare
            key: dns_edit
---
apiVersion: notification.toolkit.fluxcd.io/v1beta3
kind: Alert
metadata:
  name: helm-traefik
  namespace: flux-system
spec:
  providerRef:
    name: discord-flux-chan
  eventSeverity: info
  eventSources:
  - kind: HelmRepository
    name: traefik
  - kind: HelmChart
    name: default-traefik
  - kind: HelmRelease
    name: traefik
    namespace: default
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: error-pages
  namespace: default
  labels:
    app: error-pages
spec:
  replicas: 1
  selector:
    matchLabels:
      app: error-pages
  template:
    metadata:
      labels:
        app: error-pages
    spec:
      containers:
        - name: error-server
          image: nginx:alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: html
              mountPath: /usr/share/nginx/html
      volumes:
        - name: html
          configMap:
            name: error-pages-html
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: error-pages-html
  namespace: default
data:
  index.html: |
    <!DOCTYPE html>
    <html>
      <head><title>404 Not Found</title></head>
      <body><h1>Oops! We not finding this one it looks like (404)</h1></body>
    </html>
---
apiVersion: v1
kind: Service
metadata:
  name: error-pages-service
  namespace: default
spec:
  selector:
    app: error-pages
  ports:
    - port: 80
      targetPort: 80
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: wildcard-catchall
  namespace: default
spec:
  entryPoints:
    - websecure
  routes:
    - match: HostRegexp(`{host:.+}`)
      kind: Rule
      priority: 1
      services:
        - name: error-pages-service
          port: 80
  tls:
    # Important: use the same resolver name as in your Helm values
    certResolver: letsencrypt
    domains:
      - main: "swages.net"
        sans:
          - "*.swages.net"
          - "*.swages.cloud"
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: error-pages-middleware
  namespace: default
spec:
  errors:
    status:
      - "404"
    service:
      name: error-pages-service
      port: 80
    query: "/index.html"
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: catchall-error-router
  namespace: default
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: HostRegexp(`HostRegexp(`^.+\.swages\.(net\|cloud)$`)`)
      kind: Rule
      priority: 1
      services:
        - name: error-pages-service
          port: 80
      middlewares:
        - name: error-pages-middleware
  tls:
    certResolver: letsencrypt
    domains:
      - main: swages.net
        sans:
          - "*.swages.net"
          - "*.swages.cloud"
